* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(4, 10, 10);
    font-size: large;
    color: rgb(208, 184, 218); 
    background-color: black;
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    background-image: radial-gradient(
    circle,
    rgba(208, 184, 218) 1px,
    transparent 1px
    );
    background-size: 20px 20px;
}

header {
    background-color: rgb(3, 3, 3);
    padding: 20px;
}

main {
    max-width: 1200px;
    margin: 0 auto;   
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

section {
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(8, 10, 10); 
    border: 1px solid rgb(208, 184, 218);
}

nav{
    border: 1px solid rgb(208, 184, 218) ;
    text-align:center;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    margin: 0;
    background-color: rgb(8, 10, 10); 
}

a {
    color: rgba(165, 131, 180, 0.87);
    text-decoration: none; 
}

a:hover {

    text-decoration: underline;
    color: rgb(220, 173, 238);

}

.div-texto-alinhado {

    text-align: center;
    margin: 5px;

}

#section-topo-main {

    padding: 15px;
    border-radius: 10px;    
    
}

#primeira-section {

    padding: 15px;
    border-radius: 10px;    

}

#segunda-section {

    padding: 15px;
    border-radius: 10px;    

}

#terceira-section {

    padding: 15px;
    border-radius: 10px;    

}

#quarta-section {

    padding: 15px;
    border-radius: 10px;    

}

#quinta-section {

    padding: 15px;
    border-radius: 10px;    

}

#sexta-section {

    padding: 15px;
    border-radius: 10px;    

}

#setima-section {

    padding: 15px;
    border-radius: 10px;    

}

#header-nav {

    text-align: center;

}

.video {

    border: 1px solid rgb(208, 184, 218);
    flex-shrink: 0;
    transition: 0.3s ease;

}

.video:hover {

    transform: scale(1.03);
    box-shadow: 4px 4px 50px #eeeded;

}

audio::-webkit-media-controls-play-button,
     audio::-webkit-media-controls-panel {
        background-color: rgb(208, 184, 218);
        color: #f5efef;
        flex-shrink: 0;
        transition: 0.3s ease;
     }

audio::-webkit-media-controls-play-button,
     audio::-webkit-media-controls-panel:hover {

        transform: scale(1.03);
        box-shadow: 4px 4px 50px #eeeded;

     }

.div-audio {

    display: flex;
    align-items: center;
    justify-content: center;

}



.div-video {
    display: flex;
    gap: 20px;
    align-items: top;
}

.div-texto-video {
    flex: 1;
    margin: 10px;
    line-height: 1.4;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: black;
    border-radius: 1px;
    border: solid 1px rgb(208, 184, 218);
}

::-webkit-scrollbar-thumb {
    background: rgb(208, 184, 218);
    border-radius: 10px;
    border: solid 1px rgb(255, 255, 255);
}

html {
    scrollbar-width: auto;
    scrollbar-color: black ;
}

footer{
    font-size: large;
    background-color: rgb(8, 10, 10);
    padding: 10px;
    text-align: center; 
    border: 1px solid white;   
}

#footer-nav{
    background-color: rgb(8, 10, 10);
    padding: 10px;
    font-size: 20px;
}

